spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username:
    password:
    protocol: smtp
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

envio:
  email:
    from:
    nameFrom: 'Javanauta'

server:
  port: 8082